name: Build Action

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest] # , ubuntu-latest, macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Verify .NET 9
        run: dotnet --version

      - name: Build
        run: dotnet build -c Release -o ./build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenNel-${{ matrix.os }}
          path: ./build
